* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p,
h4 {
  color: #fff;
}
header {
  position: fixed;
  width: 100%;
  top: 0px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  padding: 21px 0;
  z-index: 100;
}
nav {
  background: transparent;
}
nav li a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
}
.primary-btn-custom {
  background-image: -webkit-linear-gradient(
    169deg,
    #5560ff 17%,
    #aa52a1 63%,
    #ff4343 100%
  );
  padding: 10px 49px !important;
  border-radius: 1000px !important;
  border: none;
  outline: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.primary-btn-custom:hover {
  box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
}
.primary-btn-custom img {
  margin-right: 10px;
  max-width: 20px;
}
.header-active {
  background: #0a1e5e;
  border: none;
  animation-name: fadeInDown;
  animation-duration: 0.75s;
}
.item {
  background-color: tomato;
  height: 100%;
}
#movie-list {
  background: url("img/banner04.jpg");
  min-height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#movie-carousel {
  max-width: 80%;
  transform: translate(0, 10%);
}
#movie-carousel img {
  max-width: 200px;
  max-height: 261px;
  object-fit: cover;
}
#movie-detail {
  min-height: 25vh;
  background-color: #001232;
  color: #fff;
  text-align: center;
}
#movie-detail h3 {
  font-size: 3rem;
}
#movie-detail p {
  font-size: 1.5rem;
}
#movie-info {
  background: #001232;
  color: #fff;
}
#seat-container {
  background: #001232;
  padding: 50px 0px;
}
#screen {
  display: none;
}
#screen h4 {
  font-size: 36px;
}
.seats {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.seat {
  min-width: 12.5%;
  margin-bottom: 20px;
}
.seat:hover {
  transform: translate(0px, -10px) scale(1.1);
  cursor: pointer;
}
.seat img,
.seat p {
  pointer-events: none; /*khi click vô đây, event sẽ không nhận*/
}
.selected img {
  filter: invert(1);
}
.booked img {
  filter: grayscale(1);
}
.proceed-container {
  background-image: url("img/movie-bg-proceed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#proceed {
  background: #001232;
}
#proceed p {
  color: #31d7a9;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}
footer {
  background: #001232;
}
#media a {
  border: solid #fff 1px;
  border-radius: 50%;
  padding: 10px;
}
#media img {
  width: 15px;
}
.card-container {
  background-color: #001232;
}
.card-container > div {
  background-image: url("img/newslater-bg01.jpg");
  background-repeat: no-repeat;
  border-radius: 20px !important;
  background-position-y: center;
  background-position-x: center;
  width: 90%;
  position: relative;
  border: none;
  background-size: cover;
}
.card-container > div > .layer2 {
  background-image: linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px !important;
  position: absolute;
}
.card-container input {
  height: 50px;
  padding-right: 160px;
  color: #99abe2;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
.card-container input:focus {
  outline: none;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  50% {
    opacity: 0.5;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
